################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Singularity/Singularity/bin/Debug/Assembly-CSharp-firstpass.dll
/Singularity/Singularity/bin/Debug/Assembly-CSharp.dll
/Singularity/Singularity/bin/Debug/Ionic.Zip.dll
/Singularity/Singularity/bin/Debug/KSPAssets.dll
/Singularity/Singularity/bin/Debug/KSPAssets.XmlSerializers.dll
/Singularity/Singularity/bin/Debug/KSPTrackIR.dll
/Singularity/Singularity/bin/Debug/Mono.Cecil.dll
/Singularity/Singularity/bin/Debug/Singularity.dll
/Singularity/Singularity/bin/Debug/Singularity.pdb
/Singularity/Singularity/bin/Debug/System.dll
/Singularity/Singularity/bin/Debug/System.Xml.dll
/Singularity/Singularity/bin/Debug/TDx.TDxInput.dll
/Singularity/Singularity/bin/Debug/Unity.Analytics.DataPrivacy.dll
/Singularity/Singularity/bin/Debug/Unity.Analytics.StandardEvents.dll
/Singularity/Singularity/bin/Debug/UnityEngine.AccessibilityModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.AIModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.AndroidJNIModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.AnimationModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.ARModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.AssetBundleModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.AudioModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.ClothModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.ClusterInputModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.ClusterRendererModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.CoreModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.CrashReportingModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.DirectorModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.dll
/Singularity/Singularity/bin/Debug/UnityEngine.DSPGraphModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.GameCenterModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.GridModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.ImageConversionModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.IMGUIModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.InputLegacyModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.InputModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.JSONSerializeModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.LocalizationModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.ParticleSystemModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.PerformanceReportingModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.Physics2DModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.PhysicsModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.ScreenCaptureModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.SharedInternalsModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.SpriteMaskModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.SpriteShapeModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.StreamingModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.SubsystemsModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.TerrainModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.TerrainPhysicsModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.TextCoreModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.TextRenderingModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.TilemapModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.UI.dll
/Singularity/Singularity/bin/Debug/UnityEngine.UIElementsModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.UIModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.UNETModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.UnityAnalyticsModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.UnityConnectModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.UnityWebRequestAudioModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.UnityWebRequestModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.UnityWebRequestTextureModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.UnityWebRequestWWWModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.VehiclesModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.VFXModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.VideoModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.VRModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.WindModule.dll
/Singularity/Singularity/bin/Debug/UnityEngine.XRModule.dll
/.vs/SingularityKeyEdits/v17/.wsuo
/.vs/VSWorkspaceState.json
/Singularity/.vs/Singularity/FileContentIndex/61a04eef-0dbf-4f55-bfb2-e597610f565a.vsidx
/Singularity/.vs/Singularity/v17/.suo
/Singularity/Singularity/obj/Debug
/.gitignore
